.sound-machine {
  position: fixed;
  top: 0;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

.whole-pie {
  background-image: url("../img/sonic_circles/whole_pie.svg");
  position: absolute;
  bottom: 20%;
  left: 7%;
  width: 15%;
  height: 15%;
  filter: saturate(0) brightness(150%);
  z-index: 1;
}

.background-no-repeat {
  background-repeat: no-repeat;
  background-position: center;
}

.absolute-center {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
}

.circles {
  width: 400px;
  height: 400px;
  top: 24px;
  left: -9999px;
  right: -9999px;
  z-index: 10;
}

.circles::after {
  content: "";
  width: 1px;
  height: 120%;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
  border-right: 1px dashed #6f6f6f;
  z-index: -1;
}

.circles::before {
  content: "";
  width: 120%;
  height: 1px;
  position: absolute;
  left: -10%;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
  border-bottom: 1px dashed #6f6f6f;
  z-index: -1;
}

.small-circle {
  background-color: #c0c8cc;
  width: 5px;
  height: 5px;
  border-radius: 50%;
  z-index: 100;
}

.outer-circles {
  background-image: url("../img/sonic_circles/outer_circle_large.svg");
  width: 100%;
  height: 100%;
  z-index: inherit;
}

.outer-circles+.outer-circles {
  background-image: url("../img/sonic_circles/outer_circle_small.svg");
  width: 92%;
  height: 92%;
}

.slice-container {
  width: 85.75%;
  height: 85.75%;
  border-radius: 50%;
  border: 1px dashed #ffffff29;
}

.shape-container {
  transform-origin: bottom center;
  bottom: unset;
  z-index: 1;
  will-change: transform;
}

.arch-container-med {
  width: 40%;
  height: 50%;
  transform: rotate(-22deg);
}

.arch-white-medium {
  background-image: url("../img/sonic_circles/arch_white_medium.svg");
  width: 100%;
  height: 20%;
}

.arch-container-orange {
  width: 44.5%;
  height: 50%;
  transform: rotate(46deg);
}

.arch-orange {
  background-image: url("../img/sonic_circles/arch_orange.svg");
  width: 100%;
  height: 56%;
}

.arch-container-long {
  width: 55%;
  height: 50%;
  transform: rotate(-149deg);
}

.arch-long {
  background-image: url("../img/sonic_circles/arch_white_long.svg");
  width: 100%;
  height: 23%;
}

.pie-container-large {
  width: 42.7%;
  height: 50%;
  transform: rotate(88.4deg);
}

.pie-large {
  background-image: url("../img/sonic_circles/pie_blue_large.svg");
  width: 100%;
  height: 100%;
}

.pie-container-black {
  width: 42.7%;
  height: 50%;
  transform: rotate(151.4deg);
}

.pie-black {
  background-image: url("../img/sonic_circles/pie_black.svg");
  width: 100%;
  height: 100%;
}

.pie-container-blue-thin {
  width: 42.7%;
  height: 50%;
  transform: rotate(222.4deg);
}

.pie-blue-thin {
  background-image: url("../img/sonic_circles/pie_blue_thin.svg");
  width: 100%;
  height: 76%;
  position: absolute;
  bottom: 0;
}

.pie-container-blue-small {
  width: 42.7%;
  height: 50%;
  transform: rotate(319.4deg);
}

.pie-blue-small {
  background-image: url("../img/sonic_circles/pie_blue_small.svg");
  width: 100%;
  height: 58%;
  position: absolute;
  bottom: 0;
}

@media all and (min-width: 400px) {
  .circles {
    width: 350px;
    height: 350px;
    top: 0;
    bottom: 0;
  }
}

@media all and (min-width: 750px) {
  .circles {
    width: 450px;
    height: 450px;
  }
}

@media all and (min-width: 900px) {
  .circles {
    width: 500px;
    height: 500px;
  }
}

@media all and (min-width: 1350px) {
  .circles {
    width: 600px;
    height: 600px;
  }
}

/* iPads */
@media all and (min-width: 768px) and (min-height: 1024px) {
  .circles {
    width: 650px;
    height: 650px;
  }
}